:root {
    /* --main-bg-header: #aa350a; */
    --main-bg-header: #aa350a;
    --color-akcent: #3596F5;
    --color-text-default: #635854;
}

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular'),
    local('BebasNeueRegular'),
    url('./../fonts/bebasneueregular.woff2') format('woff2'),
    url('./../fonts/bebasneueregular.woff') format('woff'),
    url('./../fonts/bebasneueregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',
        sans-serif;
    color: var(--color-text-default);
}

.header {
    background-color: var(--main-bg-header);
    border-bottom: 4px solid #3596F5;
    color: #fff;
}

.header-logo img {
    display: block;
}

.header-wrapper {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
}

.header-menu-item {
    text-align: center;
}

.header-menu-link {
    display: block;
    padding: 15px;
    margin-left: 25px;
    margin-right: 25px;

    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.header-contacts {
    text-align: right;
}

.header-contacts-text {
    display: block;
    font-size: 14px;
}

.header-contacts-phone {
    display: block;
    margin-top: 4px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.25;
}

.main {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 54px;
    padding-bottom: 54px;

    display: flex;
}

.main-title {
    margin-top: 0;
    font-family: 'Bebas Neue';
    font-size: 37px;
    line-height: 1;
}

.main-image path {
    opacity: 0;
    cursor: pointer;
    transition: .2s all;
}

.main-image path:hover {
    opacity: 1;
}

path.current-floor {
    opacity: 1;
}

.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    margin-top: 68px;
    margin-bottom: 68px;

    text-align: center;
}

.counter-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.counter {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Bebas Neue';
    font-size: 74px;
    font-weight: bold;
    line-height: 1;
    color: var(--main-bg-header);
}

.counter-button {
    width: 32px;
    height: 20px;
    padding: 0;

    background-color: transparent;
    border: 0;

    background-image: url('./../img/arrow.svg');
    background-position: center center;
    background-size: cover;

    cursor: pointer;
}

.counter-bottom {
    transform: rotate(180deg);
}

.button {
    background-color: var(--color-akcent);
    padding: 16px 40px;
    color: #fff;
    border: none;
    border-radius: 6px;

    cursor: pointer;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    opacity: 0;
    transform: scale(0);
    transition: opacity .2s;
}

.is-open {
    opacity: 1;
    transform: scale(1);
}

.modal-dialog {
    position: relative;

    flex-grow: 1;
    display: flex;

    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;

    transform: translateY(-10%);
    transition: transform .2s, opacity .2s;
    transition-delay: .2s;
    opacity: 0;
}

.is-open>.modal-dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal-close {
    position: absolute;
    top: 38px;
    right: 27px;

    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal-image {
    background-color: #EBEBEB;
    width: 60%;
    padding: 50px;
    text-align: center;
}

.modal-info {
    width: 40%;
    padding: 50px 46px;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 25px;
    font-family: 'Bebas Neue';
    font-size: 24px;
    line-height: 1;
    font-weight: normal;
    color: #000;
}

.flat-list {
    padding-left: 0;
    list-style: none;
    margin-top: 55px;
}

.flat-item:not(:last-child) {
    margin-bottom: 10px;
}

.flat-link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: var(--color-text-default);
    text-decoration: none;
}

.flat-link:hover,
.flat-link.activ {
    color: var(--color-akcent);
    text-decoration: underline;
}

.modal-alert {
    margin-top: 56px;

    font-style: italic;
    font-size: 16px;
    line-height: 19px;
}

.modal-image path {
    opacity: 0;
    cursor: pointer;
    transition: .2s all;
}

.modal-image path:hover,
.modal-image .activ {
    opacity: 1;
}

.modal-counter.counter {
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}
